/* 
Use CSS to set these properties for the form on your page:

Width of the inputs

Margin between the inputs

Border of the inputs

Border radius of the inputs
 */
html {
  font-family: sans-serif;
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  font-size: 14px;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-family: "proxima-nova", "Raleway", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333;
  background: url(../img/tile.jpg) top left repeat;
}
footer,
nav {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}
h1 {
  line-height: 50px;
  font-weight: 900;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  color: #1c75e9;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
h1::after {
  display: block;
  content: "";
  height: 2px;
  width: 150px;
  background-color: #1c75e9;
  margin: 5px auto 40px;
  box-shadow: 5px 2px 3px rgba(0, 0, 0, 0.5);
}
p {
  font-weight: 300;
  line-height: 30px;
  padding-bottom: 15px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.clearfix::after,
.container::after,
.navbar::after {
  clear: both;
  display: table;
  content: " ";
}
.wrap {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  text-align: center;
}
/*==================================
         HOME SECTION STYLES
====================================*/
#home {
  background: url(../background2.jpg) repeat 50% 0 fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  display: block;
  height: auto;
  padding-top: 350px;
  padding-bottom: 350px;
  color: #fff;
}
.head-main {
  text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.9);
  font-variant: small-caps;
  color: #fff;
  letter-spacing: 5pt;
  word-spacing: 21pt;
  font-size: 4.5em;
  text-align: center;
  font-family: impact, sans-serif;
  line-height: 2;
  font-weight: 900;
}

/*==================================
 MENU SECTION STYLES
====================================*/
.menu {
  color: rgb(0, 119, 255);
  font: bold 12px/18px sans-serif;
  text-align: center;
  display: inline;
  margin: 0% auto;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.menu li {
  color: #000;
  background-color: rgba(255, 255, 255, 1);
  display: inline-block;
  margin: 0 auto;
  position: relative;
  padding: 15px 4%;
  border: 1px solid #9d9fa2;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.4s;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
}
.menu li:hover {
  color: rgb(0, 60, 255);
  background-color: rgba(100, 65, 0, 0.3);
}
/*==================================
 GALLERY SECTION STYLES
====================================*/
.flex-container {
  display: block;
  display: -webkit-flex;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 0px;
  /* background-color: rgba(73, 107, 139, 0.37); */
  background: #3e4249;
  color: white;
  box-shadow: 2px 2px 10px 0 rgba(51, 51, 51, 0.5);
}

#gallery > .container {
  padding: 0 50px;
}
.photo-container {
  text-align: center;
  margin: 15px auto;
  width: 300px;
  height: 169px;
}

.photo-container img {
  max-width: 100%;
  width: 300px;
  height: 169px;
}

.video-container {
  text-align: center;
  margin: 15px auto;
  width: 750px;
  height: 415px;
}

.video-container iframe {
  max-width: 100%;
  width: 750px;
  height: 415px;
}
/*==================================
 CONTACT SECTION STYLES
====================================*/
#contact {
  background: url(../img/stuff-bg2.jpg) 50% 0 fixed;
  background-size: cover;
  color: white;
  margin-top: 20px;
  padding: 50px;
}
#contact > h1 {
  color: #fff;
}
.reservation {
  width: 60%;
  padding: 10px;
  border-radius: 8px;
  margin: 0px auto;
  background-color: rgba(242, 240, 246, 0.507);
  border-radius: -1px -1px 1px 0 rgba(0, 0, 0, 0.1) 0 rgba(0, 0, 0, 0.5);
}
.reservation h2 {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  font-weight: 500;
  color: #13161b;
  font-size: 1.3em;
  letter-spacing: 0pt;
  word-spacing: 0pt;
}

.reservation h2 span {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  color: #13161b;
  font-weight: 900;
  font-size: 1.5em;
  font-variant: small-caps;
  letter-spacing: 0.4pt;
  word-spacing: 0.3pt;
}
.reservation p {
  color: #13161b;
  width: 50%;
  margin: 0 auto;
}
.reservation form {
  font-size: 15px;
  outline: none;
  font-weight: 600;
  color: #8dee8f;
  padding: 12px 12px;
  width: 70%;
  border-radius: 1px solid #808080;
  margin: 2% auto;
  border-radius: 7px;
  background: rgb(227, 222, 222);
  box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.3);
  font-family: "Raleway", sans-serif;
}
.reservation input[type="text"] {
  font-size: 15px;
  outline: none;
  font-weight: 600;
  color: #8dee8f;
  padding: 2% 1% 2% 7%;
  width: 80%;
  border-top: 1px solid #090b0d;
  border-right: 2px solid #424542;
  border-bottom: 2px solid #424549;
  border-left: 1px solid #424549;
  margin: 10px 1em;
  border-radius: 7px;
  background: #6f92ceca;
  box-shadow: inset 0px 3px 0px 0px rgba(46, 45, 45, 0.15);
  font-family: "Raleway", sans-serif;
}
.reservation input[type="text"]:hover {
  box-shadow: 0 0 18px rgba(0, 47, 100, 0.8);
}

footer {
  background: #3e4249;
  color: white;
  padding: 20px 0 10px;
  font-size: 12px;
}
